.filtres>form{
    display: flex;
    flex-direction: column;
    gap: var(--rythme-regulier);
}

.filtres .filtres-vertical{
    display: flex;
    flex-direction: column;
}

.filtres h3+:is(div,label, select){
    margin-top: var(--rythme-petit);
}

.filtres section :is(div+div,div+p,p+div,summary+div) {
    margin-top: var(--rythme-mince);
}

.filtres {
    border: solid 2px var(--couleur-tertiaire);
    padding: var(--rythme-mince);
    
}

.filtres div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtres .select-a-droite {
    display: flex;
}

.filtres details > summary {
    list-style-type: none;
}

.filtres svg{
    max-width: 24px;
}

.filtres summary{
    display: flex;
    gap: var(--basique-gap);
}

.filtres details[open] summary svg {
    transition: transform 0.3s ease-in-out;
    transform: rotate(90deg);
}