[id="nav-principale"] a{
    display: inline-block;
    text-decoration-color: transparent;
    transition-property: text-decoration-color;
	transition-duration: 500ms;
}
[id="nav-principale"] a:hover{
    text-decoration-color: var(--gris-50);
    transition-duration: 500ms;
}

[id="nav-principale"] a,
[id="nav-principale"] label{
    color: var(--gris-50);
}



[id="nav-principale"] .barre-principale{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: var(--rythme-mince);
    background-color: var(--couleurr-primaire);
    & svg{
        max-width: 200px;
        fill: hsl(208, 100%, 97%);
    }
}
[id="nav-principale"] .barre-secondaire{
    display: flex;
    justify-content: center;
    gap: 20px;

    list-style-type: none;

}
[id="nav-principale"] input[id="menu-mobile"]{
    display: none;
}

[id="nav-principale"] .barre-secondaire{
    padding: var(--rythme-mince);
    background-color: var(--couleur-secondaire);
}

[id="nav-principale"] .input-large{
    flex-grow: 1;

    & input{
        width: 100%;
        max-width: 400px;
    }
}